PORT=5000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/restro_saas?retryWrites=true&w=majority
JWT_SECRET=super_secret_jwt_random_hash_key_phrase
NEXTAUTH_SECRET=super_secret_nextauth_random_hash_key_phrase

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=xonq3uo0
CLOUDINARY_API_KEY=687685686469636
CLOUDINARY_API_SECRET=zLt8RykP88gdQmYiPyeGRaUVwbE

# SMTP Email Configuration (e.g. Gmail App Password or Mailtrap)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=noreply@restrosaas.com
